@font-face {
  font-family: 'Inter';
  src: url(/vendor/fonts/web/Inter-ExtraBold.woff2) format('woff2');
  font-weight: 900;
}

@font-face {
  font-family: 'Inter';
  src: url(/vendor/fonts/web/Inter-Regular.woff2) format('woff2');
  font-weight: 400;
}

.body {
  background-color: #2A2C2F;
}



.page {
  background-color: #2A2C2F;
  max-width: 1280px;

}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: auto;

}

.header__logo {
  padding: 34px 0 0;
  max-width: 254px;
  height: 70px;
  margin: 0 auto 0;

}

.header__title {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 6rem;
  line-height: 6.25rem;
  text-align: center;
  color: #fff;
  margin: 90px auto 32px;
  max-width: 720px;


}

.header__paragraph {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center;
  color: #fff;
  margin: 0 auto 64px;
  max-width: 720px;

}

.header__image {
  max-width: 984px;
  height: auto;
  margin: 0 auto 92px;
}

/* SECTION:LOCANTION */

.location {
  margin: 0 302px 132px 148px;
  max-width: 830px;
  display: flex;
  flex-direction: column;

}

.location__subtitle {
  font-family: 'Inter';
  font-weight: 900;
  color: #fff;
  font-size: 3.375rem;
  line-height: 3.625rem;
  margin: 0 0 40px;
  max-width: 830px;

}


.location__quote {
  font-family: 'Inter';
  font-weight: 400;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.125rem;
  margin: 0 0 10px;
}

.location__author {
  font-family: 'Inter';
  font-weight: 400;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.125rem;
  text-align: right;
  margin: 0;

}

.location__paragraph {
  font-family: 'Inter';
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.63rem;
  margin: 32px 0 0;
}

/* FOOTER */

.footer {
  display: flex;

}

.footer__copyright {
  color: #fff;
  margin: auto;
  font-family: 'Inter';
  font-weight: 400;
  margin: 0 auto 24px;
  max-width: 166px;

}


@media screen and (max-width:1024px){
  /* BREAKPOINT */


}

/* -------TELA 768-------- */

@media screen and (max-width:768px){

  .header__title {
    font-size: 4.6875rem;
    line-height: 4.9375rem;
    margin: 90px auto 25px;
    max-width: 530px;
  }

  .header__paragraph {
    margin: 25 auto 30px;
    max-width: 720px;
  }

  .header__image {
    width: 100%;
    height: auto;
    margin: 0 auto 90px;
    object-fit: contain;
  }



  .location {
    max-width: 720px;
    margin: 0 24px 88px;
    max-width: 830px;
    display: flex;
    flex-direction: column;

  }

  .location__subtitle {
    font-size: 2.8125rem;
    line-height: 3.0625rem;
    margin: 0 0 50px;
    max-width: 707px;

  }

  .location__quote {
    margin: 0 0 26px;
    max-width: 720px;
  }

  .location__author {
    margin: 0 0 32px;
    max-width: 720px;
  }

  .location__paragraph {
    line-height: 1.62875rem;
    margin: 0 0 0;
    max-width: 720px;
  }

  .footer__copyright {
    margin: 0 auto 24px;

  }

}

/* -------TELA 320-------- */


@media screen and (max-width: 320px){
  .header__logo {
    padding: 20px 0 0;
    max-width: 188px;
    height: 52px;
    margin: 0 auto 50px;

  }

  .header__title {
    font-size: 2.6rem;
    line-height: 2.75rem;
    margin: 0 auto 16px;
    max-width: 228px;
  }

  .header__paragraph {
    margin: 0 auto 0;
    max-width: 288px;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .header__image {
    width: 100%;
    height: auto;
    margin: 40px auto 64px;
  }

  .location {
    max-width: 288px;
    margin: 0 16px 64px;


  }

  .location__subtitle {
    font-size: 2rem;
    line-height: 2.1875rem;
    margin: 0 0 40px;
    max-width: 288px;

  }

  .location__quote {
    margin: 0 0 10px;
    max-width: 288px;
    line-height: 1.875rem;
  }

  .location__author {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .header__paragraph {
    margin: 0 0;

  }

  .footer__copyright {
    margin: 0 auto 24px;

  }





}